



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #333;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #9c335a;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background: #7a0154;
    padding-left: 10px;
    border-radius: 5px;
}

.content {
    margin-left: 220px; /* leave space for sidebar */
    padding: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0277bd;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table, th, td {
    border: 1px solid #b3e5fc;
}

th, td {
    padding: 10px;
    text-align: left;
}

form input, form select {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}
